.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    max-width: 100%;
    min-width: 6rem;

    &__img {
      width: 100%;
      padding-top: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__links {
    a {
      padding: .5rem;
    }
  }
}